<!doctype html>
<html>
<head>
<title>about </title>
</head>
<body>
    <form>
          <p>Please fill in this form to create an account.</p>
          <label><b>Email</b></label>
          <input type="email" placeholder="Enter Email" name="email" required>
          <label><b>Name</b></label>
          <input type="text" placeholder="Enter your Name" name="Name" required>
      
          <label><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
          <button>Sign Up</button>
      </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    let btn= document.querySelector('button');
    btn.addEventListener('click', async function(e){
        e.preventDefault();
        
        let email=document.querySelector("input[type='email']").value;
        let Name=document.querySelector("input[type='text']").value;
        let Password=document.querySelector("input[type='password']").value;
    });

    let resp= await axios.post('/auth/signup', {email, Name, Password});
    console.log('resp', resp);
</script>
</html>
